@charset "UTF-8";

body,
html {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #333;
  color: #ddd;
}
.container {
  background-color: rgb(26, 25, 25);
  padding: 30px;
  border-radius: 10px;
  /* border: 3px solid rgb(241, 34, 7); */
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.555);
}
img {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.555);
}

.descricao {
  width: 300px;
  color: rgb(255, 72, 0);
}

h2 {
  margin-bottom: 10px;
  color:  rgb(0, 255, 128);;
}

i {
  font-size: 18px;
}

.duracao {
  width: 300px;
  margin-top: 25px;
  color: rgb(0, 255, 128);
}

.barra {
  width: 300px;
  height: 6px;
  border: 3px solid rgb(131, 130, 130);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

progress {
  height: 6px;
  width: 0%;
  background-color: black;
}

.ponto {
  width: 20px;
  height: 20px;
  background-color: rgb(255, 74, 2);
  border-radius: 50%;
  margin-left: -10px;
}

.tempo {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.player {
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  cursor: pointer;
}

.botao-play, .botao-pause {
  font-size: 50px;
}

.fas {
  color: rgb(253, 61, 2);
}

.fas:hover {
 color: rgb(0, 255, 128);
}
.setas {
  font-size: 40px;
}

.botao-pause {
  display: none;
}
